<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="./css/style.css">
<title>404</title>
<link rel="icon" href="/img/weather.png">
</head>

<body>
<div class="main-content">
{{>header}}
    <P>{{errorMessage}}</P>

</div>
    
    {{>footer}}
</body>
</html>