<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="./css/style.css">
<link rel="icon" href="/img/weather.png">


<title>Weather</title>
</head>

<body>
<div class="main-content">
    {{>header}}
    <p>Use this site to get your weather</p>
    <form>
        <input  placeholder="Location">
            <button>Search</button>
    </form>
    <p></p>
    <p></p>
    <p></p>
    <p1 id="msg1">

    </p1>

    <p2 id="msg2">


    </p2>
</div>
    
    {{>footer}}
    <script src="./js/app.js"></script>
</body>

</html>